<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated edu.kit.ipd.sdq.employeemanagement -->
      <package
            uri="edu.kit.ipd.sdq.employeemanagement/ecore"
            class="ecore.EcorePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated edu.kit.ipd.sdq.employeemanagement -->
      <package
            uri="edu.kit.ipd.sdq.employeemanagement/ecore.edu.kit.ipd.sdq.employeemanagement"
            class="ecore.edu.kit.ipd.sdq.employeemanagement.EmployeemanagementPackage"/>
   </extension>

</plugin>
